#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#guia {
  width: 125px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: url("https://pbs.twimg.com/ext_tw_video_thumb/1547278458283335681/pu/img/FRUFZ94LhUUIZVUo.jpg:large") 0px 0px;
  background-position: top -335px left -104.5px;
  background-repeat: no-repeat;
}